.ruby-version
.idea/
try.c
try.rb
gen.rb
gen_ffi.rb
*.xlsx
a.out
.DS_Store
*.gem
*.cmake
libxlsxwriter/CmakeFiles
libxlsxwriter/CmakeCache.txt
libxlsxwriter/dev
libxlsxwriter/docs
libxlsxwriter/examples
libxlsxwriter/test
ext/fast_excel/text_width_ext.o
ext/fast_excel/Makefile
ext/fast_excel/text_width_ext.bundle
Gemfile.lock
lib/libxlsxwriter.dylib
